*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Directories
.idea/
.settings/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# Eclipse settings
.classpath
.project

# Visual Studio Code
.vscode
.sts4-cache